@model CentralizedValidation.Web.Models.UserViewModel

@{
    ViewBag.Title = "Add user";
}

<div class="row">
    <div class="col-md-4">
        <h2>Add user</h2>
        <form role="form" method="POST" action="@Url.Action("Index")">
            <div class="form-group">
                @Html.LabelFor(x => x.Firstname)
                @Html.TextBoxFor(x => x.Firstname, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(x => x.Firstname)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Lastname)
                @Html.TextBoxFor(x => x.Lastname, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(x => x.Lastname)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Email)
                @Html.TextBoxFor(x => x.Email, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(x => x.Email)
            </div>
            <div class="form-group">
                @Html.LabelFor(x => x.Age)
                @Html.TextBoxFor(x => x.Age, new Dictionary<string, object> { { "class", "form-control" } })
                @Html.ValidationMessageFor(x => x.Age)
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>